// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #ab95f9;
  $primary-color: #9b59b6;
  $secondary-color: #f4f4f4;
}
